.filter-container {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 2px;
  min-width: inherit;
}

.filter-container img {
  max-width: 3rem;
}

.grid-icon {
  background-color: #262626;
}
