.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}

.button-wrapper button {
  font-size: 25px;
}

.attack-button {
  padding: 6px 30px 6px 30px;
  background-color: #f72425;
}

.defense-button {
  padding: 6px 30px 6px 30px;
  background-color: #2399fe;
}
